<% provide(:title, "About") %>
<p>
  <div class="center jumbotron custom-image text-shadow" >
    <h1>About Ruby Social Network</h1>
    <p>
      This application helps you to find your friends and socialize with them.
    </p>
  </div>
</p>
