<% provide(:title, "Help") %>

<div class="center jumbotron custom-image text-shadow">
  <h1>Help</h1>
      <p>Do you need some help? </p>
      <p>You can write me letter on <ins>veimar.94@gmail.com</ins>
  </p>
</div>


