<footer class="footer">
    <nav>
        <ul class="list-group">
            <li class="list-group-item"><%= link_to "About", about_path %></li>
            <li class="list-group-item"><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>